*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: #0b0b0b;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body {
  background-color: #0b0b0b;
}
.logo {
  font-family: 'Cormorant Garamond' , serif;
  font-size: 40px;
  color: #fff;
  margin-right: auto;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 90px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Cormorant Garamond' , serif;
  font-size: 20px;
}
nav a:hover{
  background-color: #b8860b;
}
nav svg{
  fill: #b8860b;
  width: 40px;
  height: 40px;
}
.sidebar{
  position: fixed;
  z-index: 1000;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: #242424;
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
/* nav ends */
/* hero section */
.hero {
  background-image: url('/img/file_00000000993081f49226f2653b96d100.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  position: relative;
  padding: 120px 0 0 0;
}

.hero-flex {
  padding: 40px;
  padding-top: 10px;
  z-index: 700;
  color: red;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-text button {
  padding: 10px 30px;
  color: #d1d5db;
  background: none;
  border: 2px solid #9ca3af;
  border-radius: 50px;
}

.hero-text h1 {
  padding: 30px 0;
  font-size: 100px;
  font-family: 'Cormorant Garamond' , serif;
  color: #fff;
  width: 900px;
}

.hero-text strong {
  color: #D4AF37;
}

.hero-text p {
  font-size: 20px;
  color: #d1d5db;
  width: 550px;
  line-height: 30px;
  font-family: 'Inter' , sans-serif;
}

.hero-button {
  padding-top: 40px;
  display: flex;
  gap: 20px;
}

.button button {
  border: 1px solid #D4AF37;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #D4AF37;
  border-radius: 50px;
}

.button button a {
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 25px;
  padding: 30px 40px;;
}

.button .button-2 {
  background-color: transparent;
  border: #D4AF37 1px solid;
  color: #D4AF37;
  display: flex;
  align-items: center;
  padding: 30px 40px;
  font-size: 25px;
  color: #D4AF37;
  border-radius: 50px;
}

.button button svg {
  width: 40px;
  height: 40px;
}

.button .button-2 svg {
  fill: #D4AF37;
}

.hero-button svg {
  fill: black;
  width: 40px;
  height: 40px;
}

/* episode section */
.episode {
  padding: 40px;
}

.episode-head {
  padding-bottom: 15px;
}

.episode-head h2 {
  color: #fff;
  font-size: 30px;
  font-family: 'Cormorant Garamond' , serif;
  padding-bottom: 5px;
}

.episode-head .episode-line {
  width: 5%;
  height: 2px;
  background: #D4AF37;
  border-radius: 500px;
}

.episode-flex {
  display: flex;
  align-items: center;
  gap: 40px;
}

.episode-img,
.episode-text {
  flex: 1;
}

.episode-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.episode-text {
  flex-direction: column;
}

.episode-button .feature{
  margin-bottom: 20px;
  font-family: 'Cormorant Garamond' , serif;
  font-size: 20px;
  padding: 10px 50px;
  color: #D4AF37;
  background: none;
  border: 1px solid #D4AF37;
  border-radius: 50px;
}

.discipline {
  padding-bottom: 60px;
}

.discipline h1{
  color: #fff;
  font-size: 40px;
  font-family: 'Cormorant Garamond' , serif;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.discipline p {
  color: #d1d5db;
  font-family: 'Inter' , sans-serif;
  font-size: 19px;
  width: 450px;
  line-height: 30px;
}

.host-flex {
  display: flex;
  align-items: center;
  gap: 30px;
}

.host-img img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
}

.host-text h3{
  color: #d1d5db;
  font-size: 20px;
  padding-bottom: 10px;
}

.host-text p{
  color: #fff;
  font-size: 25px;
}

.time-flex {
 display: flex;
 justify-content: center;
 text-align: center;
 gap: 50px;
 padding: 20px 0;
}

.date,
.time,
.leader {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #d1d5db;
  font-size: 20px;
}

.host-line {
  width: 1px;
  height: 40px;
  background-color: #ddd;
}

.episode-button {
  display: flex;
  gap: 10px;
}

.you-button button {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  padding: 20px 50px;
  font-size: 25px;
  background: #D4AF37;
  border: none;
  border-radius: 50px;
}

.face-button button{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 50px;
  font-size: 25px;
  background: none;
  border: 1px solid #D4AF37;
  border-radius: 50px;
  color: #fff;
}

.time-flex svg {
  width: 30px;
  height: 30px;
}

.episode-button .you-button svg {
  fill: black;
  width: 30px;
  height: 30px;
}

.episode-button .face-button svg{
  fill: #fff;
  width: 30px;
  height: 30px;
}
/* recent section */
.recent {
  padding: 40px;
}

.recent-head {
  padding-bottom: 15px;
}

.recent-head h2 {
  font-size: 30px;
  color: #fff;
  font-family: 'Cormorant Garamond' , serif;
}

.recent-line {
  width: 6%;
  height: 2px;
  background-color: #D4AF37;
  margin-top: 5px;
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* explore */
.explore {
  padding: 40px;
}

.explore-head {
  padding-bottom: 20px;
}

.explore-head h1{
  color: #fff;
  font-family: 'Cormorant Garamond' , serif;
  text-transform: capitalize;
  font-size: 30px;
}

.explore-line {
  margin-top: 5px;
  width: 5%;
  height: 2px;
  background-color: #D4AF37;
}

.explore-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap: 30px;
}

.faith,
.lead,
.purpose,
.family,
.finance,
.mental,
.discipline-topic {
  text-align: center;
  background-color: #161616;
  border: 1px solid #D4AF37;
  box-shadow:
  0 8px 24px rgba(0, 0, 0, 0.5),
  0 0 18px rgba(212, 175, 55, 0.18);
  color: #fff;
  padding: 40px;
}

.explore-flex h3 {
  font-size: 25px;
}

.explore-flex svg {
  width: 60px;
  height: 60px;
  fill: #D4AF37;
}
/* vision section */
.vision {
  padding: 40px;
}

.vision-flex {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 30px;
}

.vision-img,
.vision-text,
.vision-text2 {
  flex: 1;
}

.vision-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.vision-text button {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  background: none;
  color: #fff;
  border: 1px solid #D4AF37;
}

.vision-text h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 50px;
  padding: 20px 0;
}

.vision-text .passion {
  color: #d1d5db;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Inter' , sans-serif;
}

.vision-text h2 {
  color: #D4AF37;
  font-size: 40px;
  font-family: 'Playfair Display' , serif;
  font-weight: 600px;
  padding-top: 30px;
}

.vision-text2 {
  border: 1px solid #9ca3af;
}

.vision-text2 p {
  color: #d1d5db;
  font-size: 40px;
  padding: 40px;
}
/* subscribe section */
.join {
  padding: 20px;
}

.join-flex {
  border-radius: 20px;
  background-color: #b8860b;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding: 10px 40px;
}

.grow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.join-svg svg {
  width: 80px;
  height: 80px;
  fill: black;
}

.join-text h3 {
  font-size: 30px;
  font-family: 'Inter'  , sans-serif;
}

.join-text p {
  font-size: 25px;
  color: black;
  font-family: 'Inter' , sans-serif;
}

.join-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.mail input {
  width: 500px;
  height: 90px;
  padding: 12px 15px;
  border: 1px solid #efb908;
  background: none;
  font-size: 20px;
}


.mail input::placeholder {
  font-size: 20px;
  color: black;
}

.subscribe {

}

.subscribe button{
  padding:20px 80px;
  font-size: 25px;
  background-color: #D4AF37;
  border-color: #efb908;
}

.podcast {
  padding: 40px;
  color: #fff;
}

.podcast-flex {
  display: flex;
  justify-content: space-between;
}

.podcast-text-1 h1{
  font-size: 40px;
  font-family: 'Cormorant Garamond' , serif;
}

.podcast-text-1 p {
  font-size: 15px;
  color: #d1d5db;
  width: 250px;
  line-height: 30px;
  font-family: 'Inter' , sans-serif;
}

.quick {
  text-align: center;
  font-size: 20px;
}

.links {
  padding-top: 10px;
}

.links a{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.legal h2,
.phone h2{
  font-size: 30px;

}


.legal p,
a{
  padding-top: 10px;
  font-size: 15px;
  color: #d1d5db;
  cursor: pointer;
  font-family: 'Inter' , sans-serif;
}

.legal a {
  text-decoration: none;
}

.legal-text {
  padding-top: 20px;
}

.legal a:hover {
  border-bottom: 2px solid #D4AF37;
  width: 100%;
}

.phone-flex {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  
}

.phone-flex svg {
  width: 40px;
  height: 40px;
}

.phone-flex p {
  padding-top: 10px;
  font-size: 15px;
  color: #d1d5db;
  font-family: 'Inter' , sans-serif;
}





@media (max-width: 480px) {
  .hero {
    padding: 60px 0 0 0;
  }


  .logo {
    font-size: 30px;
    padding-left: 20px;
  }
  .hero-flex {
    padding: 0px;
    padding-top: 40px;
  }

  .hero-text {
    padding: 0 20px;
  }
  
  .hero-text h1 {
    font-size: 30px;
    width: 250px;
    line-height: 40px;
  }

  .hero-text p {
    font-size: 17px;
    width: 350px;
  }

  .hero-button {
    padding-left: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .button button a {
    padding: 5px;
    font-size: 20px;
  }

  .button button svg {
    width: 30px;
    height: 30px;
  }

  .hero-button button {
    font-size: 20px;
    padding: 15px 30px;
  }

  .button .button-2 {
    padding: 20px;
    font-size: 20px;
    color: #fff;
  }

  .button .button-2 svg {
    fill: #fff;
  }

  .hero-button svg {
    width: 20px;
    height: 20px;
  }

  .episode-flex {
    flex-direction: column;
  }

  .episode-button .feature{
    border-color: none;
    padding: 10px 40px;
  }

  .episode-head .episode-line {
    width: 25%;
  }

  .discipline h1{
    font-size: 30px;
    width: 300px;
  }

  .discipline p {
    width: 350px;
  }

  .time-flex {
    flex-direction: column;
  }

  .host-line {
    width: 80%;
    height: 1px;
  }

  .episode-button {
    flex-direction: column;
    gap: 20px;
  }

  .episode-text {
    flex-direction: none;
  }

  .host-flex {
    text-align: center;
  }

  .time-flex,
  .episode-button {
    align-items: center;
  }

  .you-button button,
  .face-button button{
    font-size: 20px;
  }

  .recent-line {
    width: 30%;
  }

  .explore-line {
    width: 20%;
  }

  .vision-text h1 {
    font-size: 45px;
  }

  .vision-flex {
    flex-direction: column;
  }

  .vision-text2 p {
    font-size: 35px;
  }

  .vision-text h1 {
    font-size: 35px;
  }

  .join-flex {
    flex-direction: column;
  }

  .join-text h3 {
    font-size: 20px;
  }

  .join-text p {
    padding-top: 10px;
  }

  .join-svg svg {
    width: 50px;
    height: 50px;
  }

  .join-input {
    flex-direction: column;
    gap: 10px;
  }

  .mail input {
    width: 100%;
    height: 80px;
  }

  .subscribe button{
    width: 100%;
  }

  .join-text p {
    font-size: 15px;
  }

  .podcast-flex {
    flex-direction: column;
  }

  .quick{
    text-align: start;
  }

  .links a {
    align-items: start;
  }

  .legal {
    padding: 60px 0;
  }


  .podcast-text-1 h1 {
    font-size: 35px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .hero-text h1 {
    font-size: 50px;
    width: 450px;
  }

  .hero-text p {
    width: 400px;
  }

  .hero-button button {
    padding: 25px 40px;
  }

  .episode-flex {
    flex-direction: column;
  }

  .episode-head .episode-line {
    width: 20%;
  }

  .episode-button {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .recent-line {
    width: 20%;
  }

  .explore-line {
    width: 20%;
  }

  .vision-flex {
    flex-direction: column;
  }

    .join-flex {
    flex-direction: column;
  }

  .join-text h3{
    font-size: 30px;
  }

  .join-text p {
    padding-top: 10px;
  }

  .mail input {
    width: 400px;
  }

   .podcast-flex {
    flex-direction: column;
  }

  .legal {
    text-align: center;
    padding: 40px 0;
  }

  .phone {
    padding-top: 20px;
  }

  .phone,
  .phone-flex {
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-text h1 {
    font-size: 60px;
    width: 500px;
  }

  .hero-text p {
    width: 350px;
  }

    .episode-flex {
    flex-direction: column;
  }

  .episode-head .episode-line {
    width: 20%;
  }

  .you-button button,
  .face-button button {
    font-size: 20px;
  }

  .recent-line {
    width: 13%;
  }

  .explore-line {
    width: 12%;
  }

    .vision-flex {
    flex-direction: column;
  }

    .join-flex {
    flex-direction: column;
  }

  .join-text h3{

  }

  .join-svg svg {
  }

  .join-text p {

  }

   .podcast-flex {
    flex-direction: column;
  }

  .legal {
    text-align: center;
    padding: 40px 0;
  }

  .phone {
    padding-top: 20px;
  }

  .phone,
  .phone-flex {
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1310px) {
  .hero-text h1 {
    font-size: 70px;
    width: 600px;
  }

  .recent-line {
    width: 9%;
  }

  .explore-line {
    width: 8%;
  }

   .podcast-flex {
    flex-direction: column;
  }

  .legal {
    text-align: center;
    padding: 40px 0;
  }

  .phone {
    padding-top: 20px;
  }

  .phone,
  .phone-flex {
    text-align: center;
    justify-content: center;
  }
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}